@import url("https://fonts.googleapis.com/css2?family=Raleway&display=swap");
@import url("https://fonts.googleapis.com/css?family=Raleway:300,400");

body {
  background-color: #4caf50;
}

.container {
  display: flex;
  margin: 100px auto;
  justify-content: center;
  align-items: center;
}

.content {
  margin-top: 10px;
  margin-bottom: 10px;
  background-color: #333;
  color: #fff;
  font-family: raleway;
  padding: 20px;
  max-width: 500px;
  border: 2px black solid;
  border-radius: 1em;
  text-align: center;
}

.charlen {
  margin-bottom: 1em;
}

#length {
  display: inline;
}

#display {
  width: 100%;
  margin-bottom: none;
  height: 3em;
  border-radius: 0.5em;
  border: none;
  letter-spacing: 1px;
  text-align: center;
  background-color: #fff;
  color: #000;
}

.button {
  width: 100%;
  border: none;
  padding: 0.8em;
}

.button:hover {
  background-color: #4caf50;
  border: none;
  cursor: pointer;
}

footer p {
  font-family: raleway;
  text-align: center;
}

footer a {
  color: #000;
  font-style: italic;
  font-weight: bold;
  text-decoration: none;
}
