@import url("https://fonts.googleapis.com/css2?family=Raleway&display=swap");

body {
  margin: 0;
  background-color: #4caf50;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  font-family: raleway;
  color: #fff;
}

.container {
  background-color: #333;
  padding: 3rem;
  border-radius: 1rem;
  border: 3px #000 solid;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.form {
  display: grid;
  grid-template-columns: auto;
  row-gap: 1rem;
  column-gap: 3rem;
  justify-content: center;
  align-items: center;
}

.heading {
  margin: 0;
  text-align: center;
}

.password-display {
  background-color: white;
  color: black;
  padding: 1rem;
  border-radius: 0.5rem;
  border: 2px black solid;
  height: 2rem;
  width: 350px;
  display: flex;
  justify-content: center;
  align-items: center;
  word-break: break-all;
}

.button {
  padding: 0.5rem 0;
  border: none;
}
.button:hover {
  background-color: #4caf50;
  border: none;
  cursor: pointer;
}
